.carousal {
  .card {
    cursor: pointer;
    .detail {
      padding: 10px;
    }
    &:hover {
      .detail {
        padding: 10px 20px;
      }
    }
    .detail {
      transition: 0.3s all ease-in-out;
      .add-to-cart {
        color: var(--color-pink);
        font-size: 1rem;
      }
      .add-to-wishlist {
        color: var(--color-black);
        font-size: 1.2rem;
        transition: 0.3s all ease-in-out;
        &:hover {
          color: var(--color-pink);
        }
      }
    }
  }
}
