#weekly {
  background-color: var(--bg-first-color);
  margin-top: 2rem;
  ul {
    li {
      display: inline-block;
      font-size: 1em;
      list-style-type: none;
      padding: 1rem;
      text-transform: uppercase;
      text-align: center;
    }

    li span {
      display: block;
      font-size: 2rem;
    }
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
