:root {
  --color-black: "#000000";
  --bg-first-color: #ecfdff;
  --bg-secondary-color: #f8fbff;
  --color-pink: #ff3368;
  --main-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  --head-font-family: "Arima", system-ui;
  --main-font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-family: var(--head-font-family);
}

* {
  font-family: var(--main-font-family);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  color: var(--color-black);
}

section {
  &.section {
    padding: 80px 0 0 0;
  }
}

.main-btn {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &::after,
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all 0.4s;
  }
  &::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
  }

  &::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }

  &:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }

  &:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }

  &:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
}

.default-btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  will-change: transform;
  &:disabled {
    pointer-events: none;
  }
  &:hover {
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: none;
    transform: translateY(0);
  }
}

.second-btn {
  background-color: #007bff; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #0056b3; /* Change this to your desired hover background color */
  }
}

.card {
  border-radius: 0;
}
// Header
@import "header";

// Banner
@import "banner";

// Featured
@import "featured";

// Category Products
@import "categoryProduct";

// Weekly Products
@import "weekly";

// Carousel
@import "carousel";

// Footer
@import "footer";

// Shopping Page
@import "shop";

// Contact Us
@import "contact";

// Cart
@import "cart";
